<ion-header>
  <ion-toolbar>
    <ion-title>ServiExpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menuServicios"id="container">
    <ionic-title>
      <div class="menuServicios">
        <h1>Servicios</h1>
      </div>
      <p class="nombreUsuario ">Nombre Usuario</p>
    </ionic-title>
    <ion-card>
      <img src="assets/img/imagen1.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Servicios</ion-card-subtitle>
        <ion-card-title>Mecanica General</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El servicio de mecanica general realiza un chequeo rapido de todos los componentes del vehiculo.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="assets/img/imagen2.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Servicios</ion-card-subtitle>
      <ion-card-title>Montaje de venta y montaje de llantas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El servicio de montaje de llantas se encarga de colocar y ajustar los componentes de neumatica del vehiculo.
    </ion-card-content>
    <ion-card>
      <img src="assets/img/imagen3.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Servicios</ion-card-subtitle>
        <ion-card-title>Hojalateria y pintura automotriz</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El servicio de hojalateria y pintura automotriz se encarga de volver a restaurar tu vehiculo para que vuelva a sonreir.
      </ion-card-content>
    </ion-card>
  </ion-card>
    <div class="opcionesUsuario">
      <div>
        <ion-button color="success" (click)="goToAgendarHora()">Agenda tu hora</ion-button>
      </div>
    </div>
  </div>
</ion-content>
