

<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
      <ion-title size="large">SERVIEXPRESS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header >
     <P class="nombreUsuario">
      NOMBRE USUARIO
     </P> 
  </ion-header>
  <div id="container">
    <ionic-title>
      <h1>Menu</h1>
    </ionic-title>
    <div class="opciones">
      <div>
        <ion-button color="success">SERVICIOS</ion-button>
      </div>
      <div>
        <ion-button color="success">RESERVA DE HORA</ion-button>
      </div>
    </div>
  </div>
</ion-content>
